name: CI and automated releases
on:
  pull_request:
  push:
    branches: [ main ]
jobs:
  ci:
    uses: relaycorp/shared-workflows/.github/workflows/nodejs-lib-ci.yml@main
    with:
      restrict_integration_tests_to_ubuntu: true

  release:
    needs: ci
    uses: relaycorp/shared-workflows/.github/workflows/nodejs-lib-release.yml@main
    with:
      api_docs: true
    secrets:
      npm_token: ${{ secrets.NPM_TOKEN }}
